
    <div class="container">
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Title :</label>
          <input class="form-control" placeholder="Enter The Title" type="text" name="title">

        </div>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>

    </div>

</body>
</html>